{
	"jbuniversal.product.teaser": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "0",
				"height": "300",
				"width_popup": "0",
				"height_popup": "0",
				"element": "7c0d757f-ed15-475b-9349-11835c968afa"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-article",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
				"template": "teaser-article",
				"element": "826e715b-9249-4aa9-8a4d-10aa3f0d8255"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-do",
				"element": "826e715b-9249-4aa9-8a4d-10aa3f0d8255"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-posle",
				"element": "826e715b-9249-4aa9-8a4d-10aa3f0d8255"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-do",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			},
			"3": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-posle",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-buttons",
				"element": "826e715b-9249-4aa9-8a4d-10aa3f0d8255"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-buttons",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		}
	},
	"jbuniversal.product.full": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "0",
				"height": "300",
				"width_popup": "0",
				"height_popup": "0",
				"element": "7c0d757f-ed15-475b-9349-11835c968afa"
			}
		},
		"image2": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all_without_first",
				"template": "popup",
				"group_popup": "1",
				"width": "60",
				"height": "60",
				"width_popup": "0",
				"height_popup": "0",
				"element": "7c0d757f-ed15-475b-9349-11835c968afa"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"quantity": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full-quantity",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		},
		"favorite": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "452cec77-ed56-4636-9056-e9838f8dbde4"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full-buttons",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full-price-posle",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "eaa338e1-b01c-4f82-8730-3a704db8a1c4"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "e2c0d9e1-7208-4d45-89b8-922d82015024"
			}
		},
		"sku": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "87a6a6b8-853a-4d5b-8965-3c54de2cc1b9"
			}
		},
		"properties": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "bd4941e1-e958-4928-b63c-98caa691eb70"
			}
		},
		"related": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": ""
				},
				"layout": "teaser",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "8adc229f-45bc-42b6-8ef0-79a54c9eff3a"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"count": "10",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "teaser",
				"link_to_item": "1",
				"columns": "7",
				"separated_by": "separator=[ ]",
				"element": "de840b06-f58a-4289-837a-7c24d46c930d"
			}
		}
	},
	"jbuniversal.product.favorite": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "default",
				"group_popup": "1",
				"width": "0",
				"height": "300",
				"width_popup": "0",
				"height_popup": "0",
				"element": "7c0d757f-ed15-475b-9349-11835c968afa"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "87a6a6b8-853a-4d5b-8965-3c54de2cc1b9"
			}
		},
		"properties": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "bd4941e1-e958-4928-b63c-98caa691eb70"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-posle",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-buttons",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		}
	},
	"jbuniversal.product.compare": {
		"fields": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "0",
				"height": "300",
				"width_popup": "0",
				"height_popup": "0",
				"element": "7c0d757f-ed15-475b-9349-11835c968afa"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "bd4941e1-e958-4928-b63c-98caa691eb70"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "87a6a6b8-853a-4d5b-8965-3c54de2cc1b9"
			},
			"3": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-posle",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			},
			"4": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-buttons",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		}
	},
	"jbuniversal.product.subcategory_item": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "0",
				"height": "300",
				"width_popup": "0",
				"height_popup": "0",
				"element": "7c0d757f-ed15-475b-9349-11835c968afa"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-posle",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-buttons",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		}
	}
}