{
	"jbuniversal.product.bootstrap": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "0",
				"height": "300",
				"width_popup": "0",
				"height_popup": "0",
				"element": "7c0d757f-ed15-475b-9349-11835c968afa"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-article",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-do",
				"element": "826e715b-9249-4aa9-8a4d-10aa3f0d8255"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-posle",
				"element": "826e715b-9249-4aa9-8a4d-10aa3f0d8255"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-do",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			},
			"3": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-posle",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-buttons",
				"element": "826e715b-9249-4aa9-8a4d-10aa3f0d8255"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-buttons",
				"element": "fdb9ccb3-f346-41e4-b98d-f9643471f518"
			}
		}
	}
}