.zoo-list-dropdown .caret { /**/
    top: 0px;
    right: 4px;
    cursor: pointer;
    /*border: 1px solid silver;*/
}

.zoo-list-dropdown .dropdown-toggle:after {
    display: none;
}

.zoo-list-dropdown a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.zoo-list-dropdown .dropdown-link {
    padding-right: 50px;
}

.zoo-list-dropdown .add-padding-item .dropdown-link {
    padding-right: 50px;
}

.zoo-list-dropdown .dropdown-menu > .active > a {
    background-color: transparent;
}

.zoo-list-dropdown .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.zoo-list-dropdown .dropdown-toggle:after {
    position: absolute;
    left: 94%;
    margin-top: 6px;
}

@media (max-width: 960px) {
    .zoo-list-dropdown.dropright .dropdown-menu {
        top: 100%;
        right: 0;
        left: auto;
    }
}


