{
	"jbuniversal.dveri.teaser": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "0",
				"height": "300",
				"width_popup": "0",
				"height_popup": "0",
				"element": "a061f042-c978-45b3-a12c-e348405858c3"
			}
		},
		"new": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2c91a700-c291-4124-ab09-b9bbfce91e22"
			}
		},
		"hit": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "e671b8d9-6d0b-4ba1-afa0-5ea2346b9192"
			}
		},
		"sale": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "bc2c239b-2bee-4fd0-b0c9-f3004129b615"
			}
		},
		"recomend": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "3f0b03a7-e1a8-4603-928b-4a01dd26c7e1"
			}
		},
		"pod-zakaz": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "7546217d-ad3b-451f-b9df-ccdcfc101090"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"category": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"element": "_itemprimarycategory"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "3bf436cf-a9c8-408c-94a0-461e0cf1e3cf"
			}
		},
		"properties": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"width": "26",
				"height": "26",
				"separated_by": "separator=[ ]",
				"element": "a006a472-b568-47e7-938f-82a2837ba7a2"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-do",
				"element": "39a9c57d-d707-4f07-ae90-610143b199ad"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-price-posle",
				"element": "39a9c57d-d707-4f07-ae90-610143b199ad"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser-buttons",
				"element": "39a9c57d-d707-4f07-ae90-610143b199ad"
			}
		}
	},
	"jbuniversal.dveri.full": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "0",
				"height": "300",
				"width_popup": "0",
				"height_popup": "0",
				"element": "a061f042-c978-45b3-a12c-e348405858c3"
			}
		},
		"new": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2c91a700-c291-4124-ab09-b9bbfce91e22"
			}
		},
		"hit": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "e671b8d9-6d0b-4ba1-afa0-5ea2346b9192"
			}
		},
		"sale": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "bc2c239b-2bee-4fd0-b0c9-f3004129b615"
			}
		},
		"recomend": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "3f0b03a7-e1a8-4603-928b-4a01dd26c7e1"
			}
		},
		"pod-zakaz": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "7546217d-ad3b-451f-b9df-ccdcfc101090"
			}
		},
		"image2": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all_without_first",
				"template": "popup",
				"group_popup": "1",
				"width": "80",
				"height": "0",
				"width_popup": "0",
				"height_popup": "0",
				"element": "a061f042-c978-45b3-a12c-e348405858c3"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"color": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0414\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0435 \u0446\u0432\u0435\u0442\u0430: ",
				"template": "default",
				"width": "25",
				"height": "25",
				"separated_by": "separator=[ ]",
				"element": "a006a472-b568-47e7-938f-82a2837ba7a2"
			}
		},
		"sizes": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0414\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0435 \u0440\u0430\u0437\u043c\u0435\u0440\u044b: ",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "3bf436cf-a9c8-408c-94a0-461e0cf1e3cf"
			}
		},
		"howsizes": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "1b9cc25b-c348-4621-a33d-f72990b8393c"
			}
		},
		"quantity": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full-quantity",
				"element": "39a9c57d-d707-4f07-ae90-610143b199ad"
			}
		},
		"favorite": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "84cefdb0-03ec-49b3-8e9c-b8d7d5d333b3"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full-buttons",
				"element": "39a9c57d-d707-4f07-ae90-610143b199ad"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full-price-do",
				"element": "39a9c57d-d707-4f07-ae90-610143b199ad"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full-price-posle",
				"element": "39a9c57d-d707-4f07-ae90-610143b199ad"
			}
		},
		"sku": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full-article",
				"element": "39a9c57d-d707-4f07-ae90-610143b199ad"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435: ",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "74f2f706-5613-4ed2-b279-d01a12a233f4"
			}
		},
		"properties": {
			"0": {
				"showlabel": "0",
				"altlabel": "\u0420\u0435\u043a\u043e\u043c\u0435\u043d\u0434\u0443\u0435\u043c\u0430\u044f \u043a\u043e\u043c\u043f\u043b\u0435\u043a\u0442\u0430\u0446\u0438\u044f: ",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f88a98d4-b0cb-4c0a-871a-2ab8f56c809b"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": ""
				},
				"layout": "teaser",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "e34ad07f-826c-4af3-b072-b26dec755d76"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "12c02913-be99-4589-bed9-30344463b70e"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"count": "4",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "teaser",
				"link_to_item": "1",
				"columns": "3",
				"separated_by": "separator=[ ]",
				"element": "bf039611-e0e4-47dd-8232-60bebbd5994f"
			}
		}
	}
}