@media (max-width: 1400px) {
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item.prev-3d {
    margin-left: -160px;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item.next-3d {
    margin-left: 160px;
  }
}

@media (max-width: 992px) {
  #sp-header.header-sticky {
    animation: fadeInDown .5s;
  }
  .filter-mobile-link {
    display: block !important;
  }
  .filter-mobile-collapse.collapse {
    display: none;

    &.show {
      display: block;
    }
  }


  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item.prev-3d {
    margin-left: -130px;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item.next-3d {
    margin-left: 130px;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item .sppb-container {
    max-width: 1100px;
  }

  #sp-top-bar {
    padding: 10px;

    #sp-logo,
    #sp-top2 {
      flex: 0 0 50%;
    }

    #sp-logo {
      order: 1;

      > .sp-column {
        display: flex;
        align-items: center;
      }
    }

    #sp-top1 {
      display: none;
    }

    #sp-top2 {
      order: 2;
    }
  }

}

@media (max-width: 768px) {
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item .sppb-container {
    max-width: 920px;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item .sppb-inner-wrapper > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item .sppb-inner-wrapper .slider-mod-wrap.right-content {
    max-width: 100%;
    margin-top: 20px;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .weekly-deals .j2store-product-module-list {
    display: flex;
    flex-wrap: wrap;

    > div {
      margin-right: 20px;
    }
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .weekly-deals .j2store-product-module-list > div:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item.prev-3d {
    margin-left: -100px;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item.next-3d {
    margin-left: 100px;
  }
  .sppb-form-group {
    margin-bottom: 10px;
  }
  #sp-bottom {
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 13px;
  }
  #sp-bottom .sp-module ul > li {
    margin-bottom: 5px;
    line-height: 1.3;
  }
  .sppb-optin-form.submit-button-inside .name-wrap,
  form.sppb-optin-form.submit-button-inside .email-wrap {
    flex: 1;
  }
  #sp-footer1 {
    text-align: center;
  }
  #sp-footer2 {
    .custom {
      text-align: center;

      .float-right {
        margin-bottom: 0;
        float: none !important;
        display: inline-block;
        margin-top: 10px;
      }
    }
  }
  #sp-footer .container-inner {
    padding: 12px 0;
  }
  .spread-between .overlay-image-title {
    justify-content: flex-start;
  }
  .sppb-addon-clients {
    .sppb-row > div {
      flex: 33.333%;
      max-width: 33.3333%;
      margin-bottom: 15px;
    }
  }

  .sppb-btn {
    font-size: 12px;
  }
  .sppb-btn.sppb-btn-lg {
    font-size: 14px;
  }
  .sppb-btn.sppb-btn-link i.fa {
    margin-left: 5px !important;
  }
  .sppb-btn.mobile-align-left {
    float: left;
  }

  .sppb-addon-instagram-gallery .sppb-instagram-images .sppb-instagram-image {
    padding: 8px;
  }

  .view-article,
  .view-category {
    #sp-main-body {
      padding: 0 0 20px;
    }
  }

  .article-list {
    &.articles-leading {
      font-size: 14px;
    }

    &.articles-leading .article {
      .article-header {
        h1,
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }

      .article-introtext {
        margin-bottom: 20px;
      }
    }

    .article {
      display: flow-root;
      margin-bottom: 30px;

      .article-feature-gallery,
      .article-featured-audio,
      .article-featured-video,
      .article-intro-image {
        margin-bottom: 15px;
      }

      .article-header {
        h1,
        h2 {
          font-size: 20px;
          margin: 0 0 10px;
        }
      }

      .article-body,
      > a {
        width: 100%;
        float: left;
        padding-left: 0;
        padding-right: 0;
      }

      .article-body {
        padding-top: 30px;
        padding-bottom: 25px;
      }

      .article-info > span {
        &.category-name,
        &.published {
          left: 0;
        }
      }
    }
  }

  .contact-info {
    ul {
      li {
        margin-bottom: 10px;
        padding-left: 75px;

        strong {
          width: 75px;
          font-size: 14px;
        }
      }
    }
  }

  #sp-left,
  #sp-right {
    .sp-module {
      margin-top: 30px;
      padding: 0;
    }
  }

  .sidebar-img-overlay .sppb-image-layout-title strong {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item.prev-3d {
    margin-left: -60px;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .sp-item.next-3d {
    margin-left: 60px;
  }

  #sp-top-bar .sp-column .sp-module-content a img {
    width: 13px !important;
  }
  #sp-top-bar #sp-top2 .sp-column .sp-module-content > div[class*="j2store_wishlist_module_"] i,
  #sp-top-bar #sp-top2 .sp-column .sp-module-content a i {
    font-size: 13px;
  }
  #sp-top-bar #sp-top2 .sp-column .sp-module-content .cart-item-count, #sp-top-bar #sp-top2 .sp-column .sp-module-content .count {
    font-size: 10px;
    width: 13px;
    height: 13px;
    line-height: 13px;
  }
  .sppb-addon-sp-slider.sp-slider.weekly-deals-slider .weekly-deals .j2store-product-module-list img {
    display: block;
    max-width: 60px;
  }
  #sp-top-bar #sp-top2 .sp-column .sp-module-content .sp-custom-login-on .icons-wrap .user-icon {
    font-size: 13px;
  }
  #sp-top-bar #sp-top2 .sp-column .sp-module-content .sp-custom-login-on .log-text {
    display: none;
  }
  #sp-top-bar #sp-top2 .sp-column .sp-module-content .sp-custom-login-on .arrow-icon {
    top: 5px;
  }
  .sp-custom-login-on .form-login-wrap {
    padding-top: 17px;
  }
  .sp-custom-login-on .form-login-wrap .form-users-wrapper .logout-button input[type="submit"] {
    font-size: 11px;
  }
  .sp-custom-login-on .form-login-wrap .form-users-wrapper {
    min-width: 120px;

    ul.menu {
      padding: 10px;

      > li {
        margin-bottom: 5px !important;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .pagination-wrapper .pagination .page-item .page-link {
    font-size: 13px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  p {
    margin-bottom: 6px;
  }

  .sp-page-title {
    padding: 20px 0 40px;

    .sp-page-title-heading {
      font-size: 32px;
    }

    .breadcrumb {
      margin: 0 0 30px;

      > li {
        font-size: 13px;
      }
    }
  }

  .pagination-wrapper {
    margin-bottom: 20px;
  }

  .blockquote {
    padding: 10px 15px;
    border-width: 3px;
  }

  #sp-left,
  #sp-right {
    .sp-module {
      margin-top: 25px;

      .sp-module-title {
        font-size: 18px;
        margin: 0 0 15px;
        padding-bottom: 3px;
      }

      .categories-module li h4 a {
        font-size: 13px;
        line-height: 1.4;
      }

      .tagspopular ul li a {
        font-size: 13px;
      }
    }
  }

  html.coming-soon body {
    .coming-soon-title {
      font-size: 35px;
      margin-bottom: 10px;
    }

    .coming-soon-content {
      font-size: 18px;
    }

  }

}