.smuzi-megamenu {
    width: 100vw;
    min-width: 960px;
    left: 50%;
    top: 50px;
    display: flex;
}
.smuzi-megamenu-2 {
    max-width: 1472px;
    position: relative;
    display: flex;
    min-height: 500px;
}

.zoo-list-megamenu .caret { /**/
    top: 0px;
    right: 4px;
    cursor: pointer;
    /*border: 1px solid silver;*/
}

.zoo-list-megamenu .dropdown-toggle:after {
    display: none;
}

.zoo-list-megamenu a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.zoo-list-megamenu .dropdown-link {
    padding-right: 50px;
}

.zoo-list-megamenu .add-padding-item .dropdown-link {
    padding-right: 50px;
}

.zoo-list-megamenu .dropdown-menu > .active > a {
    background-color: transparent;
}

.zoo-list-megamenu .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.zoo-list-megamenu .dropdown-toggle:after {
    position: absolute;
    left: 94%;
    margin-top: 6px;
}

@media (max-width: 960px) {
    .zoo-list-megamenu .dropdown-menu {
        top: 100%;
        right: 0;
        left: auto;
    }
}


